<main>
    <div class="container">
        <div class ="row">
          <div class="col">
            <div class="about-content-paragraph text center">
              Каршеринг Орион
            </div>
            <div class="about-content-paragraph">
              Вы не ездили на машине уже десять тысяч лет? Тогда вы по адресу! Каршеринг Орион предоставляет машины в аренду по самым выгодным ценам! Только самые последние модели в лучших комплектциях!
            </div>
          </div>
          <div class="col">
            <img src="assets\main_img.jpg" class="img-fluid">
          </div>
        </div>
    </div>
  </main>